<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Geared Up Gaming'}) %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="customer">
            <h2>Gaming Unleashed</h2>
        </section>


        <section class="all-gear">
            <h2>Our Items</h2>
            <ul class="item-grid">
                <% for (let item of items) { %>
                <li>
                    <figure>
                        <img src="<%= item.photo %>" alt="">
                    </figure>
                    <figcaption>
                        <div class="item-info">
                            <h3><%= item.name %></h3>
                            <p>Price: $<%= item.price %> </p>
                        </div>
                        <a href="/items/<%= item._id %>" class="btn">Details</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>