<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Featured Gear'}) %>
    <link rel="stylesheet" href="/styles/item-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="customer">
        <h2>Best Selling</h2>
        
    </section>

    <main>
        <section class="listings">
            <div class="container">
                <% for (let item of items) { %>
                    <% if (item.isFeatured === true) { %>
                        <li class="display-flex">
                            <div>
                                <img src="<%= item.photo %>">
                                <div>
                                    <h4><%= item.name %></h4>
                                    <p>Price: $<%= item.price %></p>
                                    <p> Quantity:<%= item.quantity %><% if (item.quantity === 0) { %>
                                        <h1 style="color:red;">SOLD OUT</h1>
                                            <% } else { %>
                                            <h3 style="color:black;"><%= item.quantity %> </h3>
                                            <% } %></p>
                                    
                                            </div>
                                        </div>
                            <a href="/items/<%= item._id %>">Details</a>
                        </li>
                    <% } %>
                <% } %>
                    </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>